
[submodule "BinaryKnapsackBlock"]
	path = BinaryKnapsackBlock
	url = https://github.com/plan4resDev/BinaryKnapsackBlock
	branch = master

[submodule "BinaryKnapsackBlock"]
	path = BinaryKnapsackBlock
	url = https://github.com/plan4resDev/BinaryKnapsackBlock
	branch = master

[submodule "BundleSolver"]
	path = BundleSolver
	url = https://github.com/plan4resDev/BundleSolver
	branch = master

[submodule "CapacitatedFacilityLocationBlock"]
	path = CapacitatedFacilityLocationBlock
	url = https://github.com/plan4resDev/CapacitatedFacilityLocationBlock
	branch = master

[submodule "InvestmentBlock"]
	path = InvestmentBlock
	url = https://github.com/plan4resDev/InvestmentBlock
	branch = master

[submodule "LEMONSolver"]
	path = LEMONSolver
	url = https://github.com/plan4resDev/LEMONSolver
	branch = master

[submodule "LagrangianDualSolver"]
	path = LagrangianDualSolver
	url = https://github.com/plan4resDev/LagrangianDualSolver
	branch = master

[submodule "LukFiBlock"]
	path = LukFiBlock
	url = https://github.com/plan4resDev/LukFiBlock
	branch = master
