
[submodule "BinaryKnapsackBlock"]
	path = BinaryKnapsackBlock
	url = https://github.com/plan4resDev/BinaryKnapsackBlock
	branch = master

[submodule "BinaryKnapsackBlock"]
	path = BinaryKnapsackBlock
	url = https://github.com/plan4resDev/BinaryKnapsackBlock
	branch = master
